@import url("https://fonts.googleapis.com/css?family=Limelight|Marcellus");
@import url("button.css");

body {
	font-family: 'Marcellus';
	color: white;
}


h1 {
	font-family: 'Limelight';
}

#banner {
	background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url("https://images.unsplash.com/photo-1499561385668-5ebdb06a79bc");
	background-size: cover !important;
	display: flex;
	height: 100vh;
	text-align: center;
    align-items: center;
    justify-content: center;
}

.banner-content h1 {
     font-size: 70px;
 }

.banner-content p {
    font-size: normal;
    font-weight: lighter;
    padding-bottom: 50px;
}